#code {
    flex: 10;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-x: hidden;

    > li {
        display: flex;
        > .name {
            flex: 1 50px;
            font-size: 15pt;
            align-self: center;
        }
        > .tokens  {
            flex: 50;
            overflow-x: scroll;
        }
    }
}
