#code-panel {
    flex: 10;
    display: flex;
    flex-direction: column;
    flex-align: stretch;
}

#code-bar {
    margin: 0 30px;
    height: 30px;
}

#functions {
    display: flex;
    gap: 10px;
    float: right;

    > li {
        display: inline;
        width: 30px;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

#code {
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-x: hidden;

    > li {
        display: flex;
        > .name {
            flex: 1 50px;
            font-size: 15pt;
            align-self: center;
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        > .outer-tokens  {
            flex: 50;
            > .inner-tokens {
                flex: 1;
                overflow-x: scroll;
            }
        }

        &.hide {
            display: none;
        }
    }
}
