#code {
    flex: 10;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-x: hidden;

    > li {
        display: flex;
        > .name {
            flex: 1 50px;
            font-size: 15pt;
            align-self: center;
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        > .outer-tokens  {
            flex: 50;
            > .inner-tokens {
                flex: 1;
                overflow-x: scroll;
            }
        }
    }
}
