@import './tokens';
@import './code';

body {
    font-family: Sans-Serif;
    font-size: 10pt;
}

#image {
    width: 40vw;
    margin: auto;
}

#editor {
    display: flex;
    align-items: stretch;
    margin: auto;
    width: 95vw;
    height: 500px;
}

#tokens {
    flex: 1;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    > .tokens {
        flex-direction: column;
        align-items: center;
    }
}


