@import './tokens';
@import './code';

body {
    font-family: Sans-Serif;
    font-size: 10pt;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100vw;
    height: calc(100vh - 15px);
}

.fract-image {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#editor {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: auto;
    width: 95%;
}

#editor > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#code-bar {
    margin-left: 30px;
    label, input { margin-right: 5px; }
}

#code-panel {
    display: flex;
    flex-direction: row;
    flex-align: stretch;
    height: 45vh;
}

.fract-token-categories {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    align-items: stretch;
    gap: 10px;
    width: 200px;

    > .fract-tokens {
        flex-direction: column;
        align-items: center;
    }
}

.hidden {
    display: none !important;
}

dialog {
  border-radius: 5px;
  border: 2px #888 solid;
  padding: 1.6rem;
  max-width: 400px;
}

.choose-token-dialog {
    display: flex;
    flex-direction: row;
    align-items: start;

    .category {
        margin: 0 1em;

        > .label {
            text-align: center;
            font-size: 1rem;
        }
    }

    .dialog-token {
        margin: 1em 0;
    }
}