@import './tokens';
@import './code';

body {
    font-family: Sans-Serif;
    font-size: 10pt;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100vw;
    height: calc(100vh - 15px);
}

#image {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#editor {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: auto;
    width: 95%;
}

#code-bar {
    margin: 0 30px;
}

#code-panel {
    display: flex;
    flex-direction: row;
    flex-align: stretch;
    height: 45vh;
}

#tokens {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    align-items: stretch;
    gap: 10px;

    > .tokens {
        flex-direction: column;
        align-items: center;
    }
}

.hidden {
    display: none !important;
}
