.tokens {
    display: flex;
    font-size: 12pt;
    border: 2px #AAA solid;
    border-radius: 5px;
    background-color: #EEE;
    padding: 20px;
    gap: 5px;
}
.token {
    display: inline;
    padding: 5px;
    border: 2px #888 solid;
    color: #333;
    border-radius: 5px;
    background-color: #CCC;
}
.token-span {
    display: inline;
    padding: 5px;
}
.token-span.over {
    background-color: #DDD;
    border: 2px #999 dotted;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 5px;
    padding: 5px 10px;
}
.token-span.over::before {
    content: "+";
}
