.fract-tokens {
    display: flex;
    font-variant: small-caps;
    border: 2px #AAA solid;
    border-radius: 5px;
    background-color: #EEE;
    gap: 5px;

    &.hide {
        .fract-token, .label {
            display: none;
        }
    }

    > .label, .group-label {
        display: inline;
        font-size: 1.4rem;
        cursor: pointer;
    }
}

.fract-token {
    padding: 5px;
    border: 2px #888 solid;
    color: #333;
    border-radius: 5px;
    background-color: #CCC;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;

    &.token-inline {
        width: 25px;
        height: 25px;
        border-width: 1px;
        border-radius: 3px;
        padding: 1px;
    }
}

.fract-token-group {
    margin-right: 3px;
    display: flex;
    align-items: center;
    border: 2px #888 solid;
    color: #333;
    border-radius: 5px;
    background-color: #CCC;
    > * { flex: 0 0 auto; border: none; border-radius: 0px; }
    > *:not(:first-child).fract-token { border-left: 2px #888 dotted; }
    > .fract-token-span { padding: 2px; }
}

.fract-token-span {
    padding: 5px;
    height: 50px;

    &.over {
        background-color: #DDD;
        border: 2px #999 dotted;
        border-radius: 5px;
        font-weight: bold;
        width: 50px;

        &::before {
            font-size: 24pt;
            content: "+";
        }
    }

    &.remove {
        background-color: #D88;
        border: 2px #922 dotted;
        border-radius: 5px;
        width: 50px;

        &::before {
            font-size: 24pt;
            content: "X";
        }
    }
}
